
<div class="card-container">
    <hr>
    <h1>The Latest Blogs</h1>
    <hr>
    <br>

    
    <div class="blog-card-container">

        <div class= "blog-parent-container">
   
            <mat-card id="custom-shadow" class="blog-card"  *ngFor="let blog of threeBlogs">
              
                <mat-card-title>{{blog.blogTitle}}</mat-card-title>
                <hr>
                <mat-card-content>
                    <p>
                        {{blog.blogBody}}
                    </p>
                </mat-card-content>
                <mat-card-content class="blog-author">{{blog.date}}</mat-card-content>
                <mat-card-actions>
                    <button (click)="likeClick()" mat-button>LIKE <img src="../assets/images/heart-icon.png" alt="like" class="heart"></button>
                    <button mat-button [routerLink]="['/blog', blog._id]">Read More</button>
                </mat-card-actions>
            </mat-card>
        
        </div>

    </div>

    <hr>  
    <h1>Popular Products</h1>
    <hr>
    <br>
    <br>

    <div class="product-card-container">

        <div *ngIf="threeProducts.length == 0" class="empty-inventory">
            <h1>We apoligize. All items are sold out. Check back soon!</h1>
        </div>

        <div class= "product-parent-container">
   
            <mat-card id="custom-shadow" class="product-card"  *ngFor="let product of threeProducts; let i = index;">
         
                <mat-card-title>{{product.name}}</mat-card-title>
               
                <img mat-card-lg-image src ={{product.image_url}}>
               
                <mat-card-content>
                    <p>
                        {{product.description}}
                    </p>
                </mat-card-content>
                <mat-card-content><h2>${{product.price}}</h2></mat-card-content>

                <div class="qty">
                    <input type="number" placeholder="1" id="card-{{i}}">
                    <label for="quantity">Qty</label>
                </div>
                <!-- <div class="available-qty">
                    <h4>Available: {{product.quantity}}</h4>
                </div> -->

                <mat-card-actions>
                    <button mat-button [routerLink]="['/product', product.product_id]">More Info</button>
                    <button (click)="addToCart(product.product_id, i, product.name, product.price, product.image_url)" mat-button> Add To Cart <img src="../assets/images/cart.svg" alt="like" class="cart"></button>
                </mat-card-actions>
            </mat-card>
        
        </div>
    
        
    </div>
    

</div>