

.card-container {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
    font-family: 'Dancing Script';
    color: #417505;

    // background-color: rgba(0,255,0,0.1);
    background-image: linear-gradient(to top right, rgb(228, 228, 131), rgba(0,255,0,0.1));
    

    hr {
        width: 20%;
        margin: 0 20px;
        display: inline-block;
    }


    h1 {
        padding-top: 50px;
        margin: 0 auto;
        display: inline-block;
    }

    .blog-card-container {
        width: 95vw;
        margin: 0 auto;
        justify-content: space-between;
        // border: 3px solid purple;
        padding: 15px;

        .blog-parent-container{
            width: 100%;
            height: 100%;
        
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        
            font-family: 'Roboto';
            // border: 2px solid red;
        
            #custom-shadow {
                box-shadow: 0 0 20px #417505;
                border-radius: 5px;
        
            }
        
            .blog-card{
                width: 25%;
                height: 25em;
                margin: 1em;

                mat-card-title {
                    font-family: 'Dancing Script';
                }
                mat-card-actions {
                    position: absolute;
                    width: 80%;
                    left: 56%;
                    bottom: 10%;
                    transform: translateX(-50%);
                    display: flex;
                    justify-content: space-around;
        
                    button {
                        border: 2px solid rgba(65, 117, 5, .5);
        
                    }
                }
        
                p {
                    margin: 15px 0;
                    text-indent: 2.5rem;
                    text-align: left;
                }
        
                .blog-author {
                    font-size: 20px;
                    font-family: 'Roboto';
                }
                
                // display: flex;
                // flex-direction: row;
                // justify-content: center;
                // flex-wrap: wrap;
                // align-items: flex-start;
                
                
            
                
            }
        }
        
        
    }

    .product-card-container {
        width: 95vw;
        margin: 0 auto;
        justify-content: space-between;
        // border: 3px solid purple;
        padding: 15px;

        .product-parent-container{
            width: 100%;
            height: 100%;
        
            display: flex;
            flex-wrap: wrap;
            
            justify-content: space-between;
        
            font-family: 'Roboto';
            // border: 2px solid red;
        
            #custom-shadow {
                box-shadow: 0 3px 10px #417505;
                border-radius: 5px;
        
            }
        
            .product-card{
                width: 25%;
                height: 30em;
                margin: 1em;

                mat-card-title {
                    font-family: 'Dancing Script';
                }
                mat-card-actions {
                    position: absolute;
                    width: 80%;
                    left: 56%;
                    bottom: 10%;
                    transform: translateX(-50%);
                    display: flex;
                    justify-content: space-around;
        
                    button {
                        border: 2px solid rgba(65, 117, 5, .5);
        
                    }
                }
                
                .available-qty {
                    padding-top: 1rem;
                }
        
                p {
                    margin: 15px 0;
                    text-indent: 2.5rem;
                    text-align: left;
                }
        
                .product-author {
                    font-size: 20px;
                    font-family: 'Roboto';
                }
                
                // display: flex;
                // flex-direction: row;
                // justify-content: center;
                // flex-wrap: wrap;
                // align-items: flex-start;
                
                
            
                
            }
        }
        
       
    }

}



.heart {
    height: 15px;
    width: 15px;
    margin-left: .5rem;

    transition: 3s;
}

.cart {
    height: 20px;
    width: 20px;
    margin-left: .5rem;
}

.heartPulse {
    transform: scale(1.3);
}



@media only screen and (max-width: 700px)  {

   #custom-shadow {
       width: 100%;
   } 

}