
<div class="card-container">
    <hr>
    <h1>Products</h1>
    <hr>
    <br>
  
    
      <div class="product-card-container">
  
          <div class= "product-parent-container">
    
              <mat-card id="custom-shadow" class="product-card"  *ngFor="let product of allProducts">
                
                  <mat-card-title>{{product.name}}</mat-card-title>
                  <hr>
                  <mat-card-content>
                      <p>
                          {{product.description}}
                      </p>
                  </mat-card-content>
                  <mat-card-content class="product-author">{{product.price}}</mat-card-content>
                  <mat-card-actions>
                      <button mat-button>More Info</button>
                  </mat-card-actions>
              </mat-card>
          
          </div>
  
      </div>
  
    </div>