.product-parent-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;

    font-family: 'Roboto';
    // border: 2px solid red;

    #custom-shadow {
        box-shadow: 0 0 15px #417505;
        border-radius: 10px;

    }

    .product-card{
        width: 25%;
        height: 20em;
        margin: 1em;
        mat-card-title {
            font-family: 'Dancing Script';
        }

        p {
            margin: 15px 0;
            text-indent: 2.5rem;
            text-align: left;
        }

        .product-author {
            font-size: 20px;
            font-family: 'Roboto';
        }
        
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // flex-wrap: wrap;
        // align-items: flex-start;
        
        
    
        
    }
}



.card-container {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
    font-family: 'Dancing Script';
    color: #417505;
    

    hr {
        width: 20%;
        margin: 0 20px;
        display: inline-block;
    }


    h1 {
        padding-top: 50px;
        margin: 0 auto;
        display: inline-block;
        font-size: 2.7em;
    }

    .product-card-container {
        width: 95vw;
        margin: 0 auto;
        justify-content: space-between;
        // border: 3px solid purple;
        padding: 15px;
        
    }

    .product-card-container {
        width: 95vw;
        margin: 0 auto;
        justify-content: space-between;
        // border: 3px solid purple;
        padding: 15px;
       
    }

}




