
<div class="card-container">
    <hr>
    <h1>Products</h1>
    <hr>
    <br>
  
    
      <div class="product-card-container">
  
          <div class= "product-parent-container">
    
              <mat-card id="custom-shadow" class="product-card"  *ngFor="let product of allProducts; let i = index;">
                
                  <mat-card-title>{{product.name}}</mat-card-title>

                  <img mat-card-lg-image src ={{product.image_url}}>

                  <mat-card-content>
                      <p>
                          {{product.description}}
                      </p>
                  </mat-card-content>
                  <mat-card-content><h2>${{product.price}}</h2></mat-card-content>

                    <input type="number" placeholder="1" id="card-{{i}}">
                    <label for="quantity">Qty</label>

                    <!-- <div class="available-qty">
                        <h4>Available: {{product.quantity}}</h4>
                    </div> -->

                  <mat-card-actions>
                      <button mat-button [routerLink]="['/product', product.product_id]">More Info</button>
                      <button (click)="addToCart(product.product_id, i, product.name, product.price, product.image_url)" mat-button>Add To Cart <img src="../assets/images/cart.svg" alt="like" class="cart"></button>
                  </mat-card-actions>
              </mat-card>
          
          </div>
  
      </div>
  
    </div>