
<div class= "blog-parent-container">
   
    <mat-card id="custom-shadow" class="blog-card"  *ngFor="let blog of allBlogs">
      
        <mat-card-title>{{blog.blogTitle}}</mat-card-title>
        <!-- <img mat-card-lg-image src="{{blog.image}}"> -->
        <hr>
        <mat-card-content>
            <p>
                {{blog.blogBody}}
            </p>
        </mat-card-content>
        <!-- <mat-card-content class="blog-author">{{blog.author}}</mat-card-content> -->
        <mat-card-content class="blog-author">{{blog.date}}</mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>More Info</button>
        </mat-card-actions>
    </mat-card>

</div>