.new-product-form {
    width: 30vw;
    height: 100%;
    border: 3px solid lime;
    text-align: center;
    margin: 0 auto;
}

#require-fields {
    color: red;
    font-size: 1.3rem;
    font-family: 'Roboto';
}