<div id="single-product-container">
    <hr>  
        <h1 class="product-page-title">Product</h1>
    <hr>
    <div id="flex-product">
        <div class= "product-content">
            <h2 class="product-name">{{product.name}}</h2>
        <hr class="line-name">
            <p class="product-info">{{product.description}}</p>
        <hr>
            <h2 class="product-qty">QTY: {{product.quantity}}</h2>
            <h2 class="product-price">$ {{product.price}}</h2>
            <button id="add" (click)="addToCart(product.product_id, i, product.name, product.price, product.image_url)" mat-button>Add To Cart</button>
        </div>
        <div class="product-image">
            <img mat-card-md-image src ={{product.image_url}}>
        </div>
    </div>
</div>



