<div class="about-container">

  <!-- 1 -->
  <div class="top-container">
    <h1>About Us</h1>

    <div id="group-photo"></div>

  </div>

  <!-- 2 -->
  <div class="mission-container">
    <h1>Our Mission</h1>

    <div class="mission-statment">
      <p>"Helping others to achieve their <br> healthy lifestyle because health is <br>not simply the absence of <br>sickness."</p>
    </div>
  </div>

  <!-- 3 -->
  <div class="team-container">

    <div class="single-member one">
      <div id="jin"></div>
      <p class="member-info">

      </p>
    </div>

    <div class="single-member two">
      <div id="milad"></div>
      <p class="member-info">
        
      </p>
    </div>
  
    <div class="single-member three">
      <div id="remy"></div>
      <p class="member-info">
        
      </p>
    </div>

    <div class="single-member four">
      <div id="stevano"></div>
      <p class="member-info">
        
      </p>
    </div>

    <div class="single-member five">
      <div id="zeb"></div>
      <p class="member-info">
        
      </p>
    </div>

  </div>


</div>