<div class="about-container">

  <!-- 1 -->
  <div class="top-container">
    <h1>About Us</h1>

    <div id="group-photo"></div>

  </div>

  <!-- 2 -->
  <div class="mission-container">
    <h1>Our Mission</h1>

    <div class="mission-statment">
      <p>"Helping others to achieve their <br> healthy lifestyle because health is <br>not simply the absence of <br>sickness."</p>
    </div>
  </div>

  <!-- 3 -->
  <div class="team-container">

    <div class="single-member one">
      <div id="jin"></div>
      <div class="member-info">
        <ul>
          <li>Jin Tak</li>
          <li>Lead Front-End Developer</li>
          <li><a href="https://github.com/JinTak">Github</a></li>
        </ul>
      </div>
    </div>

    <div class="single-member two">
      <div id="milad"></div>
      <div class="member-info">
        <ul>
          <li>Milad Abujarada</li>
          <li>Lead Back-End Developer</li>
          <li>Scrum Master</li>
          <li><a href="https://github.com/milad-abujarada">Github</a></li>
        </ul>
      </div>
    </div>
  
    <div class="single-member three">
      <div id="remy"></div>
      <div class="member-info">
        <ul>
          <li>Remy Pearlstone</li>
          <li>Release Engineer</li>
          <li>Front-End Developer</li>
          <li><a href="https://github.com/rover33/">Github</a></li>
        </ul>
      </div>
    </div>

    <div class="single-member four">
      <div id="stevano"></div>
      <div class="member-info">
        <ul>
          <li>Stevano Lie</li>
          <li>Lead User-Experience Developer</li>
          <li>Project Manager</li>
          <li><a href="https://github.com/slie07">Github</a></li>
        </ul>
      </div>
    </div>

    <div class="single-member five">
      <div id="zeb"></div>
      <div class="member-info">
        <ul>
          <li>Zeb Girourard</li>
          <li>Javascript Guru</li>
        </ul>
      </div>
    </div>

  </div>


</div>