<div class="about-container">

  <!-- 1 -->
  <div class="top-container">
    <h1>About Us</h1>

    <div id="group-photo"></div>

  </div>

  <!-- 2 -->
  <div class="mission-container">
    <h1>Our Mission</h1>

    <div class="mission-statment">
      <p>"Helping others to achieve their healthy lifestyle because health is not simply the absence of sickness."</p>
    </div>
  </div>

  <!-- 3 -->
  <div class="team-container">

    <div class="single-member">
      <img src="" alt="">
      <p class="member-info">

      </p>
    </div>

    <div class="single-member">
      <img src="" alt="">
      <p class="member-info">
        
      </p>
    </div>
  
    <div class="single-member">
      <img src="" alt="">
      <p class="member-info">
        
      </p>
    </div>

    <div class="single-member">
      <img src="" alt="">
      <p class="member-info">
        
      </p>
    </div>

    <div class="single-member">
      <img src="" alt="">
      <p class="member-info">
        
      </p>
    </div>

  </div>


</div>