
<div class="login-container">

    <h1>Login</h1>
    <form (submit)="onSubmit()">
        <div id="email">
            <label for ="email">Email</label>
            <input  type="email" name="email" [(ngModel)]="email" required>
        </div>
        <div id="password">
            <label for ="password">Password</label>
            <input id="password" type="password" name="password" [(ngModel)]="password" required>
        </div>
        <input type="submit" value="Login" id="submit-button">
    </form>

</div>