
.all-products {
    height: 100%;
}

li {
    list-style: none;
    display: inline-block;
    border-bottom: 1px solid #417505;
    margin: 0 5px;
    padding: 10px;
  
}



.blah {
    width: 80vw;
    margin-bottom: 2rem;
}

input {
    display: inline-block;
    border: 1px solid #417505;
    margin: 0 5px;
    padding: 10px;
   
}

.addProd {
    width: 200px;
    height: 60px;
    font-size: 1.3rem;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    border:2px solid #417505;
    color: #417505;
    cursor: pointer;

    &:hover {
        color: white;
        background: #417505;
    }
}

// #desc {
//     display: inline-block;
//     color: pink;
//     padding: 20px 10px; 
//     line-height: 28px;
// }