<h1>Edit Product</h1>

<button routerLink="/product/new" class="addProd">
    +
</button>

<div class="all-products">
    <li class="blah" *ngFor="let product of products">
        <div *ngIf="productToEdit !== product">
            <li>
              {{product.name}} 
            </li>
            <li>
              {{product.description}}
            </li>
            <li>
              {{product.price}}
            </li>
            <li>
              {{product.image_url}}
            </li>
            <li>
              {{product.quantity}}
            </li>
        
            <button (click)="deleteproduct(product.product_id)" class="deleteBtn">
                Delete
            </button>
            <button (click)="makeProductEditable(product)" class="editBtn">
                Edit
            </button>
           
        </div>

        <div *ngIf="productToEdit == product">
      
            <section>
                <input [(ngModel)]="product.name" type="text" placeholder="Name">
                <input [(ngModel)]="product.description" type="text" placeholder="Description" id="desc">
                <input [(ngModel)]="product.price" type="text" placeholder="Price">
                <input [(ngModel)]="product.image_url" type="text" placeholder="Image URL">
                <input [(ngModel)]="product.quantity" type="text" placeholder="Quantity">

                <button (click)="doneEditing(productToEdit)">
                Done Editing
                </button>
            </section>
        </div>
    </li>
  
</div>