
li {
    list-style: none;
    display: inline-block;
    border: 1px solid #417505;
    margin: 0 5px;
    padding: 10px;
}

input {
    display: inline-block;
    border: 1px solid #417505;
    margin: 0 5px;
    padding: 10px;
}