
<h1>HOLISTIC BLOG</h1>

<h2>Coming Soon...</h2>

<button mat-button>Blog</button>

<button mat-raised-button>Shop</button>

<button mat-button>HELLO!</button>


<div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Blog Title">
        </mat-form-field>
        <br>    
        <mat-form-field>
          <textarea matInput placeholder="Blog Post"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select placeholder="Topic">
            <mat-option value="option">Allergy</mat-option>
            <mat-option value="option">Brain</mat-option>
            <mat-option value="option">Prostate</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

<blog-preview></blog-preview>