

<div class="main-content-container">
    <!-- 1   -->
    <h1>Holistic</h1>
    
    <!-- 2 -->
    <div class="login-cart-container">
        <button mat-button>Login</button> 
        <a href="#"><img src="assets/images/cart.svg" alt="cart"></a>
    </div>

    <!-- 3 -->
    <div class="main-links-container">
        <a href="#">Blog</a>
        <a href="#">Shop</a>
        <a href="#">About Us</a>
    </div>
</div>

<div class="jumbotron">
    <div class="jumbo-image"></div>
</div>

<div class="card-container">

    <h1>The Latest Blogs</h1>
    <br>
    <hr>
    <br>

    
    <div class="blog-card-container">

        <app-blog-preview></app-blog-preview>

    </div>

    <h1>Products</h1>
    <br>
    <hr>
    <br>

    <div class="product-card-container">

        <app-product-preview></app-product-preview>
        
    </div>
    

</div>


